{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}   

<div class="container">
    <h1>Liste des utilisateurs</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>C.I.N</th>
                <th>Pathphoto</th>
                <th>Vehicule</th>
                <th>Visualiser</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for individu in individus %}
            <tr>
                <td>{{ individu.nomindividu }}</td>
                <td>{{ individu.prenomindividu }}</td>
                <td>{{ individu.telindividu }}</td>
                <td>{{ individu.cinindividu }}</td>
                <td>{{ individu.pathphotoindividu }}</td>
                <td>{{ individu.idvehicule}}</td>
                <td>    
                    <a href="{{ path('individu_edit', {'idindividu': individu.idindividu}) }}"><img src="{{ asset('../images/search.png')}}"></a>
                </td>
                <td>
                    <a href="{{ path('individu_show', {'idindividu': individu.idindividu}) }}"><img src="{{ asset('../images/edit.png')}}"></a>
                </td>
                 <td>    
                    <a href="{{ path('individu_delete', {'idindividu': individu.idindividu}) }}"><img src="{{ asset('../images/delete.png')}}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="text-center" href="{{ path('individu_new') }}">Ajouter un utilisateur</a>
</div>
    
{% endblock %}
