{% extends 'base.html.twig' %}

{% block title %}Visualiser l'utilisateur{% endblock %}

{% block body %}
    <h1>Visualiser l'utilisateur</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ individu.nomindividu }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ individu.prenomindividu }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ individu.telindividu }}</td>
            </tr>
            <tr>
                <th>C.I.N</th>
                <td>{{ individu.cinindividu }}</td>
            </tr>
            <tr>
                <th>Pathphoto</th>
                <td>{{ individu.pathphotoindividu }}</td>
            </tr>
            <tr>
                <th>Interne</th>
                <td>{{ individu.interne }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('individu_index') }}">Retour</a>

    <a href="{{ path('individu_edit', {'idindividu': individu.idindividu}) }}">Modifier</a>
{% endblock %}
