{% extends 'base.html.twig' %}

{% block title %}Liste des Fournisseurs{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des Fournisseurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nomfournisseur</th>
                <th>Rsfournisseur</th>
                <th>Villefournisseur</th>
                <th>Telfournisseur</th>
                <th>Visualiser</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.nomfournisseur }}</td>
                <td>{{ fournisseur.rsfournisseur }}</td>
                <td>{{ fournisseur.villefournisseur }}</td>
                <td>{{ fournisseur.telfournisseur }}</td>
                <td>
                    <a href="{{ path('fournisseur_show', {'idfournisseur': fournisseur.idfournisseur}) }}"><img src="{{ asset('../images/search.png')}}"></a>
                </td>
                <td>
                    <a href="{{ path('fournisseur_edit', {'idfournisseur': fournisseur.idfournisseur}) }}"><img src="{{ asset('../images/edit.png')}}"></a>
                </td>
                <td>    
                    <a href="{{ path('fournisseur_delete', {'idfournisseur': fournisseur.idfournisseur}) }}"><img src="{{ asset('../images/delete.png')}}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('fournisseur_new') }}">Ajouter un fournisseur</a>
</div>
    
{% endblock %}
