{% extends 'base.html.twig' %}

{% block title %}Fournisseur index{% endblock %}

{% block body %}
    <h1>Fournisseur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idfournisseur</th>
                <th>Nomfournisseur</th>
                <th>Rsfournisseur</th>
                <th>Villefournisseur</th>
                <th>Telfournisseur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.idfournisseur }}</td>
                <td>{{ fournisseur.nomfournisseur }}</td>
                <td>{{ fournisseur.rsfournisseur }}</td>
                <td>{{ fournisseur.villefournisseur }}</td>
                <td>{{ fournisseur.telfournisseur }}</td>
                <td>
                    <a href="{{ path('fournisseur_show', {'idfournisseur': fournisseur.idfournisseur}) }}">show</a>
                    <a href="{{ path('fournisseur_edit', {'idfournisseur': fournisseur.idfournisseur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fournisseur_new') }}">Create new</a>
{% endblock %}
